extends /layout

block body
  include /navbar

  .container#content
    .row
      h1 Create Creator
        small &nbsp;Add a new Creator to BookBrainz
    #creatorForm

  include /footer
  
  script(type='application/json')#props!= JSON.stringify(props)

  script(src='/js/entity/creator.js')
