extends /layout

block body
  include /navbar

  .container#content
    .row
      h1 Create Creator
        small &nbsp;Add a new Creator to BookBrainz
    .row
      noscript
        .alert.alert-danger(role="alert") This page will not function correctly without JavaScript! Please enable JavaScript to use this page.
    #creatorForm

  include /footer
  
  script(type='application/json')#props!= JSON.stringify(props)

  script(src='/js/entity/creator.js')
