extends /layout

block body
  include /navbar

  .container#content
    .row
      h1 Create Publication
        small &nbsp;Add a new Publication to BookBrainz
    .row
      noscript
        .alert.alert-danger(role="alert") This page will not function correctly without JavaScript! Please enable JavaScript to use this page.

    #publicationForm

  include /footer
  
  script(type='application/json')#props!= JSON.stringify(props)

  script(src='/js/entity/publication.js')
