extends /layout

block body
  include /navbar

  .container#content
    .row
      h1 Create Work
        small &nbsp;Add a new Work to BookBrainz
    noscript
      .alert.alert-danger(role="alert") This page will not function correctly without JavaScript! Please enable JavaScript to use this page.

    #workForm

  include /footer

  script(type='application/json')#props!= JSON.stringify(props)

  script(src='/js/entity/work.js')
