extends /layout

block body
	.container#content
		.row
			h1=heading
				small=' ' + subheading
		.row
			noscript
				.alert.alert-danger(role='alert') This page will not function correctly without JavaScript! Please enable JavaScript to use this page.
		#workForm

block js
	script(type='application/json')#props!= JSON.stringify(props)
	script(src='/js/entity/work.js')
