{
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    "array-includes",
    [
        "transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }
    ]
  ],
  "presets": [
	  "flow",
	  "es2015",
	  "es2016",
	  "es2017",
	  "react"
  ]
}
