root = true

# Unix-style newlines with a newline ending every file
# Somewhat redundant as git already handles this
[*]
end_of_line = crlf
insert_final_newline = true

# Tab indentation
[*.{css,js,json,jsx,jade}]
charset = utf-8
indent_style = tab

# Configs
[{.jscsrc,.jshintrc}]
charset = utf-8
indent_style = tab

# The YAML spec explicitly forbids tabs
[*.yml}]
charset = utf-8
indent_style = space
indent_size = 4