footer.footer
  .container-fluid
    .pull-right.text-right
      a(href='/privacy'): small Privacy & Terms

    small This site uses:
    a(href='http://getbootstrap.com/', target='_blank') Bootstrap,
    a(href='http://fortawesome.github.io/Font-Awesome/', target='_blank')  Font Awesome,
    a(href='http://jquery.com/', target='_blank')  jQuery
    |  and
    a(href='http://knockoutjs.com/', target='_blank')  knockoutJS
