footer.footer
  .container-fluid
    .row
      .col-md-4
        small This site uses: 
        a(href='http://getbootstrap.com/', target='_blank') Bootstrap,
        a(href='http://fortawesome.github.io/Font-Awesome/', target='_blank')  Font Awesome,
        a(href='http://jquery.com/', target='_blank')  jQuery 
        |  and 
        a(href='http://knockoutjs.com/', target='_blank')  knockoutJS
      .col-md-4.text-center
        small Copyright 2015 BookBrainz Developers
      .col-md-4.text-right
        a(href='#'): small Privacy & Terms
