extends layout

block body
  include navbar

  .container#content
    .row
      .col-md-12
        .text-center
          h1 BookBrainz
          p.lead the open literature encyclopedia
          a.btn.btn-success.btn-lg(href="/getStarted") Get Started!

    .row
      .col-md-12.text-center
        h2 Latest Updates
        .row
          if recent
            for entity in recent
              .col-xs-12.col-sm-6.col-md-4
                .recently-updated.panel.panel-default.panel-body
                  if entity.type == 'Publication'
                    div
                      a(href='/publication/'+entity.bbid)=entity.default_alias.name
                    if entity.publication_type
                      i=entity.publication_type.label
                  else if entity.type == 'Creator'
                    div
                      a(href='/creator/'+entity.bbid)=entity.default_alias.name
                    if entity.creator_type
                      i=entity.creator_type.label
          else
            em Unable to retrieve latest updates

  include footer
