extends layout

block body
  include navbar

  .container#content
    .row
      .col-md-12
        .text-center
          h1 BookBrainz
          p.lead the open literature encyclopedia
          a.btn.btn-success.btn-lg(href="/getStarted") Get Started!

    .row
      .col-md-12.text-center
        h2 Latest Updates
        .row
          for entity in recent
            .col-xs-12.col-sm-6.col-md-4
              .recently-updated.panel.panel-default.panel-body
                if entity.data.body.publication_data
                  div
                    a(href='/publication/'+entity.entity_gid)=entity.aliases.body.aliases[0].name
                  if entity.data.body.publication_data.publication_type
                    i=entity.data.body.publication_data.publication_type.label
                else if entity.data.body.creator_data
                  div
                    a(href='/creator/'+entity.entity_gid)=entity.aliases.body.aliases[0].name
                  if entity.data.body.creator_data.creator_type
                    i=entity.data.body.creator_data.creator_type.label

  include footer
