doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='/javascripts/bundle.js')
  body
    block body
