extends layout

block body
  include navbar

  .container#content
    h1 Privacy
    p
      | For a privacy policy, please see&nbsp;
      a(href="http://musicbrainz.org/doc/About/Privacy_Policy")
        | http://musicbrainz.org/doc/About/Privacy_Policy

    p.
      While this currently does not apply to BookBrainz, it gives an idea of
      what can be expected when it gets updated to cover all MetaBrainz
      projects. If you're happy using MusicBrainz, we aim to make you just as
      comfortable using BookBrainz.

  include footer
