.row
  .col-md-12
    p.lead Add and remove aliases to the new entity.
h2 Add Alias
.row
  .col-md-6.col-md-offset-3.form-horizontal
    .form-group
      label.col-md-3.control-label Name
      .col-md-9
        input.form-control(required, type='text', name="name", data-bind="value: newName")
    .form-group
      label.col-md-3.control-label Sort Name
      .col-md-9
        input.form-control(required, type='text', name="sortName", data-bind="value: newSortName")
    .form-group
      label.col-md-3.control-label Language
      .col-md-9
        select#languageSelect.form-control(required, data-bind="value: languageId")
          each language in languages
            option(value=language.language_id)=language.name
    .form-group
      .col-md-9.col-md-offset-3
        .row
          .col-md-6
            label.checkbox-inline
              input(type="checkbox", data-bind="disable: defaultSet, checked: dflt") 
              | Default
          .col-md-6
            label.checkbox-inline
              input(type="checkbox", data-bind="checked: primary")
              | Primary
    .form-group
      .col-md-2.col-md-offset-10
        button.btn.btn-success.btn-block.fa.fa-plus(title="Add Alias", data-bind="click: addAlias")
          span.sr-only Add alias
hr
h2 Added Aliases
.row
  .col-md-6.col-md-offset-3
    .row(data-bind="foreach: aliases")
      .col-md-3(data-bind="text: name")
      .col-md-3(data-bind="text: sortName")
      .col-md-3(data-bind="text: languageText")
      .col-md-1
        em(data-bind="if: dflt") &nbsp;d
        em(data-bind="if: primary") &nbsp;p
      .col-md-2
        button.btn.btn-danger.btn-block.fa.fa-minus(title="Remove Alias", data-bind="click: $parent.removeAlias")
          span.sr-only Remove alias
