extends ../layout

block body
  include ../navbar
  
  .container#content
    h1='Message #' + message.message_id

    .row
      .col-md-8.col-md-offset-2
        .panel.panel-default
          .panel-body
            dl.dl-horizontal
              dt Sender:
              dd
                a(href='/editor/' + message.sender.id) #{message.sender.name}
                small.pull-right
                  a.btn.btn-warning.btn-xs.fa.fa-mail-reply.entity-action(href='/messageForm?recipients=' + message.sender.id + '&subject=Re: ' + message.subject)
                    span.sr-only Reply to message
              dt Subject:
              dd=message.subject
              dt Content:
              dd=message.content

  include ../footer
