var config = {
	site: {
		webservice: 'http://bookbrainz.org/ws'
	},

	session: {
		secret: 'Something here!',
		redis: {
			host: 'localhost',
			port: 6379,
			ttl: 3600
		}
	}
};

module.exports = config;
