{
	"site": {
		"proxyTrust": true,
		"log": "debug"
	},
	"musicbrainz": {
		"clientID": "",
		"clientSecret": "",
		"callbackURL": ""
	},
	"session": {
		"maxAge": 2592000000,
		"secret": "Something here!",
		"secure": false,
		"redis": {
			"host": "localhost",
			"port": 6379
		}
	},
	"database": {
		"client": "pg",
		"connection": {
			"host": "127.0.0.1",
			"database": "bookbrainz",
			"user": "bookbrainz",
			"password": "bookbrainz"
		}
	},
	"search": {
		"host": "localhost:9200",
		"apiVersion": "5.5",
		"maxRetries": -1,
		"deadTimeout": 2000
	}
}
