{
	"site": {
		"webservice": "http://bookbrainz.mbsandbox.org/ws",
		"clientID": "f5c882d1-169e-4798-974b-63cd1de0b141",
		"proxyTrust": true
	},
	"session": {
		"secret": "Something here!",
		"secure": true,
		"redis": {
			"host": "localhost",
			"port": 6379,
			"ttl": 3600
		}
	}
}
