extends ./entity

block icon
	span.fa.fa-user

block picture
	span.fa.fa-user.picture-fallback-icon-large

block attributes
	dt Type
	dd=(entity.creator_type ? entity.creator_type.label : '?')

	dt Gender
	dd=(entity.gender ? entity.gender.name : '?')

	dt Begin Date
	dd=(entity.begin_date ? entity.begin_date : '?')

	if entity.ended
		dt End Date
		dd=(entity.end_date ? entity.end_date : '?')
