extends ./entity

block icon
	span.fa.fa-user

block picture
	span.fa.fa-user.picture-fallback-icon-large

block attributes
	+type(entity.creatorType)

	dt Gender
	dd=(entity.gender ? entity.gender.name : '?')
	dt Begin Area
	dd=(entity.beginArea ? entity.beginArea.name : '?')
	dt End Area
	dd=(entity.endArea ? entity.endArea.name : '?')
	+begin_end
