extends ./entity

block icon
	span.fa.fa-university

block picture
	span.fa.fa-university.picture-fallback-icon-large

block attributes
	+type(entity.publisher_type)

	+begin_end

block content
	h2 Editions
		a.btn.btn-success.pull-right(href="/edition/create?publisher="+entity.bbid)
			span.fa.fa-plus
			| &nbsp;&nbsp;Add Edition
	table.table.table-striped
		thead
			tr
				th Name
				th Release Date
		tbody
			each edition in entity.editions
				tr
					td
						a(href='/edition/'+edition.bbid)
							=(edition.default_alias ? edition.default_alias.name : '(unnamed)')
					td=(edition.release_date ? edition.release_date : '?')
