extends ./entity

block icon
	span.fa.fa-file-text-o

block picture
	span.fa.fa-file-text-o.picture-fallback-icon-large

block attributes
	+type(entity.work_type)

	dt Languages
	dd
		if entity.languages
			=entity.languages.map(function(l){return l.name;}).join(', ')
		else
			| ?
