extends /layout

block body
	.container#content
		h1 Edit Profile
		.row
			.col-md-12
				p.lead Edit your public profile.
		.row
			.col-md-6.col-md-offset-3#profileForm!= markup

block js
	script(type='application/json')#props!= JSON.stringify(props)
	script(src='/js/editor/edit.js')
