extends ../layout

block body
	h1 My Messages

	a.pull-right(href='/message/send')
		span.fa.fa-plus
		| &nbsp;New Message

	ul.nav.nav-pills
		li(class=(view === 'inbox' ? 'active' : undefined))
			a(href='/message/inbox')
				| Inbox&nbsp;
				span.badge=inboxCount
		li(class=(view === 'archive' ? 'active' : undefined))
			a(href='/message/archive') Archive
		li(class=(view === 'sent' ? 'active' : undefined))
			a(href='/message/sent') Sent

	table.table.table-hover
		thead
			tr
				th Sender
				th Subject
		tbody
			for message in messages.objects
				tr
					td
						a(href='/editor/'+message.sender.id)=message.sender.name
					td
						a(href='/message/'+message.message_id)=message.subject
