extends ../layout

block body
	h1='Message #' + message.message_id

	.row
		.col-md-8.col-md-offset-2
			.panel.panel-default
				.panel-body
					dl.dl-horizontal
						dt Sender:
						dd
							a(href='/editor/' + message.sender.user_id) #{message.sender.name}
							small.pull-right
								a.btn.btn-warning.btn-xs.fa.fa-mail-reply.entity-action(title='Reply to message', href='/message/send?recipients=' + message.sender.user_id + '&subject=Re: ' + message.subject)
									span.sr-only Reply to message
						dt Subject:
						dd=message.subject
						dt Content:
						dd=message.content
