extends /templates/layout

block body
    if task == "edit"
        .container#content
            #relationshipForm
    else if task == "delete"
        h1 Delete Entity
    else
        .row
            .col-md-12
                if task == "registrationDetails"
                    #registration-form!= markup
                else if task == "search"
                    div!= markup

block js
    script(type='application/json')#props!= JSON.stringify(props)
    script(src='/js/#{script}.js')
