extends layout

block body
  include navbar

  .container#content
    .row
      .col-md-12
        h1 Contributing to BookBrainz
        p.lead.
          There are many ways that you can contribute to the BookBrainz online
          encyclopaedia, depending on where your particular skills lie.

        h2 Editing
        p
          | If you come to BookBrainz with new information about a particular
          | book, you'll want to edit the database. To do that, you'll first
          | need an account, which you can get by&nbsp;
          a(href='/register', target='blank') registering
          | . Then, you'll be able to add your new information by editing an
          | entity. Note that in the current version of BookBrainz, only new
          | entities can be edited. Please follow the&nbsp;
          a(href='http://musicbrainz.org/doc/Style', target='blank')
            | MusicBrainz style guidelines
          | &nbsp;(adapting as necessary) when adding your information.

        h2 Programming
        p
          | If you're someone who's good at programming in Python or JavaScript,
          | we'd love to have your help developing BookBrainz. Take a look at
          | our GitHub page at&nbsp;
          a(href='https://github.com/BookBrainz', target='blank') BookBrainz
          | &nbsp;to check out our code and see if there are any issues that
          | interest you.
        
        h2 Community
        p
          | No matter whether you feel like you fit in one of these categories,
          | think you can contribute in a different area, or just want to chat,
          | feel free to drop in and meet us on our IRC channel!

  include footer
