footer.footer
  .container-fluid
    .row
      .col-sm-4
        small
          ='Tested with '
          a(href='https://www.browserstack.com/', target='_blank')
            img(height='25px', src='/images/BrowserStack.png')
      .col-sm-4.text-center
        small
          ='Cover image by '
          a(href="https://commons.wikimedia.org/wiki/File:Bookshelf.jpg") Stewart Butterfield
          =' ('
          a(href="https://creativecommons.org/licenses/by/2.0/deed.en") CC-BY-2.0
          =')'
      .col-sm-4.text-right
          a(href='/privacy'): small Privacy & Terms
    .row.text-center
      small
        ='Alpha Software — '
        a(href=`${respoitoryUrl}commit/${siteRevision}`)=siteRevision
        =' — '
        a(href="#") Report A Bug
      
