extends layout

block body
	.row
		.col-md-6.col-md-offset-3
			form.whole-page-form.form-horizontal(action='/login/handler', method='post')
				.form-group
					label.col-md-2(for='loginUsername') Username
					.col-md-10
						input#loginUsername.form-control(type='text', placeholder='Username', name='username')
				.form-group
					label.col-md-2(for='loginPassword') Password
					.col-md-10
						input#loginPassword.form-control(type='password', placeholder='Password', name='password')
				if error
					.alert.alert-danger= error
				button.btn.btn-primary.btn-lg.btn-block(type='submit') Login
				hr
				a.btn.btn-success.btn-lg.btn-block(href='/register') Register
