extends layout

block body
	.row
		.col-md-6.col-md-offset-3
			form.whole-page-form.form-horizontal(action='/register/handler', method='post')
				if error
					.alert.alert-danger= error

				.form-group
					label.col-md-2(for='registerUsername') Username
					.col-md-10
						input#registerUsername.form-control(type='text', placeholder='Username', name='username')
				.form-group
					label.col-md-2(for='registerEmail') Email
					.col-md-10
						input#registerEmail.form-control(type='email', placeholder='email@example.com', name='email')
				.form-group
					label.col-md-2(for='registerPassword') Password
					.col-md-10
						input#registerPassword.form-control(type='password', placeholder='Password', name='password')
				.form-group
					label.col-md-2(for='registerPassword2') Repeat Password
					.col-md-10
						input#registerPassword2.form-control(type='password', placeholder='Password', name='password2')

				button.btn.btn-success.btn-lg.btn-block(type='submit') Register
