doctype html
html
	head
		title= title ? title + ' – BookBrainz' : 'BookBrainz – The Open Book Database'
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/select2.min.css')
		link(rel='stylesheet', href='/stylesheets/select2-bootstrap.min.css')

		include favicon
	body
		div#target!= markup
		script(src='/js/bundle.js')
		if page
			script(type='application/json')#page!= page
		if props && script
			script(type='application/json')#props!= JSON.stringify(props)
			script(src=script)
