doctype html
html
	head
		title= title ? title + ' – BookBrainz' : 'BookBrainz – The Open Book Database'
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/select2.min.css')
		link(rel='stylesheet', href='/stylesheets/select2-bootstrap.min.css')

		include favicon
	body
		div!= markup
		script(src='/js/bundle.js')
		script(src='/js/layout.js')