extends /layout

block body
  include /navbar

  .container#content
    #relationshipForm

  script(type='application/json')#props!= JSON.stringify(props)
  script(src='/js/relationship.js')

  include /footer
