---
ecmaFeatures:
  jsx: true
env:
  browser: true
plugins:
  - react
rules:
  no-extra-parens:
    - 0
    - all
  react/display-name: 2
  react/forbid-prop-types: 0
  react/jsx-boolean-value:
    - 2
    - never
  react/jsx-closing-bracket-location:
    - 2
    - tag-aligned
  react/jsx-curly-spacing:
    - 2
    - never
  react/jsx-indent-props:
    - 2
    - tab
  react/jsx-key: 2
  react/jsx-max-props-per-line:
    - 1
    -
      maximum: 1
  react/jsx-no-bind: 1
  react/jsx-no-duplicate-props:
    - 2
    -
      ignoreCase: true
  react/jsx-no-literals: 0
  react/jsx-no-undef: 2
  react/jsx-pascal-case: 2
  jsx-quotes:
    - 2
    - prefer-double
  react/jsx-sort-prop-types:
    - 2
    -
      ignoreCase: false
  react/jsx-sort-props:
    - 2
    -
      ignoreCase: false
  react/jsx-uses-react: 2
  react/jsx-uses-vars: 2
  react/no-danger: 1
  react/no-did-mount-set-state: 1
  react/no-did-update-set-state: 1
  react/no-direct-mutation-state: 2
  react/no-multi-comp:
    - 1
    -
      ignoreStateless: true
  react/no-set-state: 0
  react/no-unknown-property: 2
  react/prop-types: 1 # Revisit this
  react/react-in-jsx-scope: 2
  react/require-extension: 0 # Revisit this
  react/self-closing-comp: 2
  react/sort-comp: 2
  react/wrap-multilines: 2
  strict:
    - 2
    - function
