---
parserOptions:
  ecmaFeatures:
    jsx: true
env:
  browser: true
plugins:
  - react
rules:
  no-extra-parens:
    - 0
    - all
  react/display-name:
      - 2
      -
          ignoreTranspilerName: true
  react/no-deprecated: 2
  react/no-find-dom-node: 2
  react/no-render-return-value: 2
  react/require-render-return: 2
  react/jsx-first-prop-new-line:
    - 2
    - multiline
  react/jsx-boolean-value: 2
  react/jsx-closing-bracket-location:
    - 2
    - tag-aligned
  react/jsx-curly-spacing: 2
  react/jsx-indent:
    - 2
    - tab
  react/jsx-indent-props:
    - 2
    - tab
  react/jsx-key: 2
  react/jsx-no-comment-textnodes: 2
  react/jsx-max-props-per-line: 1
  react/jsx-no-bind:
    - 1
    -
      ignoreRefs: true
  react/jsx-no-duplicate-props:
    - 2
    -
      ignoreCase: true
  react/jsx-no-literals: 0
  react/jsx-no-undef: 2
  react/jsx-pascal-case: 2
  react/jsx-no-target-blank: 2
  jsx-quotes: 2
  react/sort-prop-types:
    - 2
    -
      ignoreCase: false
      callbacksLast: true
      requiredFirst: false
  react/jsx-sort-props:
    - 2
    -
      ignoreCase: false
      callbacksLast: true
      shorthandFirst: true
  react/jsx-uses-react: 2
  react/jsx-uses-vars: 2
  react/no-danger: 1
  react/no-did-mount-set-state: 1
  react/no-did-update-set-state: 2
  react/no-direct-mutation-state: 2
  react/no-multi-comp:
    - 1
    -
      ignoreStateless: false
  react/no-set-state: 1
  react/no-unknown-property: 2
  react/prop-types: 1 # Revisit this
  react/react-in-jsx-scope: 2
  react/self-closing-comp: 2
  react/sort-comp: 2
  react/jsx-wrap-multilines: 2
  react/prefer-es6-class:
      - 1
      - always
  react/no-is-mounted: 2
  react/no-string-refs: 1
  react/jsx-equals-spacing: 1
  react/jsx-space-before-closing:
      - 2
      - never
  react/prefer-stateless-function: 1
  react/jsx-handler-names: 1
  strict:
    - 2
    - function
  no-return-assign: 0
